/*for desktops*/
:root {
  --col-width: calc(100% / 12);
}
.col-lg-1 {
  width: var(--col-width);
}
.col-lg-2 {
  width: calc(var(--col-width) * 2);
}
.col-lg-3 {
  width: calc(var(--col-width) * 3);
}
.col-lg-4 {
  width: calc(var(--col-width) * 4);
}
.col-lg-5 {
  width: calc(var(--col-width) * 5);
}
.col-lg-6 {
  width: calc(var(--col-width) * 6);
}
.col-lg-7 {
  width: calc(var(--col-width) * 7);
}
.col-lg-8 {
  width: calc(var(--col-width) * 8);
}
.col-lg-9 {
  width: calc(var(--col-width) * 9);
}
.col-lg-10 {
  width: calc(var(--col-width) * 10);
}
.col-lg-11 {
  width: calc(var(--col-width) * 11);
}
.col-lg-12 {
  width: calc(var(--col-width) * 12);
}

/*for tablets*/
@media (max-width: 1024px) {
  :root {
    --col-width: calc(100% / 8);
  }
  .col-md-1 {
    width: var(--col-width);
  }
  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-md-6 {
    width: calc(var(--col-width) * 6);
  }
  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }
  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }
  .offers__title:after {
    display: none;
  }
  .offers__line {
    display: none;
  }
  .title {
    font-size: 36px;
    margin-bottom: 70px;
  }
  .offers__list {
    gap: 10px;
  }
  .offers__icon {
    width: 65px;
  }
  .offers__description {
    font-size: 20px;
  }
  .list {
    margin: 0;
  }
  .offers__item {
    height: 150px;
  }
  .homes__item {
    height: 280px;
  }
  .homes__item:nth-child(4) {
    display: none;
  }
  img {
    margin-bottom: 10px;
  }
  .homes__text {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .item-third {
    position: relative;
  }
  .circle {
    width: 36px;
    height: 36px;
    position: absolute;
  }
}

/*for mobile*/
@media (max-width: 768px) {
  :root {
    --col-width: calc(100% / 6);
  }
  .col-sm-1 {
    width: var(--col-width);
  }
  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }
  .container {
    padding: 40px 0;
  }
  .title {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .offers__title {
    margin-top: -8px;
  }
  .offers__icon {
    width: 60px;
  }
  .offers__description {
    font-size: 18px;
    line-height: 18px;
  }
  .offers__item {
    height: 130px;
  }
  .icon-trip_house_mobile {
    display: flex;
    margin: 0 auto 32px;
  }
  img {
    margin-bottom: 8px;
  }
  .homes__item:nth-child(3) {
    display: none;
  }
  .homes__text {
    font-size: 16px;
    line-height: 14px;
    margin-bottom: 8px;
  }
  .item-second {
    position: relative;
  }
  .circle {
    width: 32px;
    height: 32px;
    position: absolute;
  }
  .footer__list {
    display: flex;
    justify-content: center;
  }
  .footer__text {
    display: none;
  }
  .footer__links {
    margin: 0 auto;
  }
  .footer__text-title {
    display: flex;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
  }
  .footer__item-bot {
    display: flex;
    justify-content: center;
  }
  .footer__text-bottom {
    display: flex;
    font-size: 12px;
    margin-bottom: 0;
  }
}

/*for small mobile*/
@media (max-width: 480px) {
  :root {
    --col-width: calc(100% / 6);
  }
  .col-xs-1 {
    width: var(--col-width);
  }
  .col-xs-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-xs-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-xs-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-xs-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-xs-6 {
    width: calc(var(--col-width) * 6);
  }
  .title {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .offers__icon {
    width: 55px;
  }
  .offers__description {
    font-size: 15px;
  }
  .offers__item {
    height: 104px;
  }
  .homes__item {
    height: 209px;
    width: 156px;
    margin-bottom: 40px;
  }
  .homes__text {
    font-size: 12px;
    margin-bottom: 4px;
  }
}
