.container {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #383838;
  margin: 220px 100px 50px;
  text-align: center;
}

.text {
  font-size: 40px;
  margin: 0 650px 20px;
  text-align: center;
}

.line {
  border-top: 4px solid #f5bd41;
  width: 100px;
  margin: 0 auto;
}

.offers > div {
  min-width: 300px;
  height: 250px;
  display: inline-block;
  text-align: center;
  margin-top: 5%;
}

.offers_1 {
  margin-right: 50px;
}

.offers_2 {
  margin: 0 50px;
}

.offers_3 {
  margin: 0 50px;
}

.offers_4 {
  margin-left: 50px;
}
